.contNewNote{
    background-color: transparent;
}

.spanNewNota{
    color: white;
    margin-left: 83%;
    font-size: 14px;
}

.btnGuardarNewNota{
    background-color: rgba(188, 226, 99, 0.74);
    border: none;
    padding: 5px 10px;
    color: black;
    border-radius: 10px;
}

.btnGuardarNewNota:hover{
    background-color: rgba(181, 235, 57, 0.712);
}

