.contNewNote{
    background-color: transparent;
    margin-top: 4%;
    text-align: center;
    border-right: 2px solid rgb(255, 208, 0);
    border-bottom: 2px solid rgb(255, 208, 0);
    padding-bottom: 1%;
}

.spanNewNota{
    color: white;
    font-size: 14px;
}

.btnGuardarNewNota{
    background-color: rgb(255, 208, 0);
    border: none;
    padding: 5px 10px;
    color: black;
    border-radius: 10px;
}

.btnGuardarNewNota:hover{
    background-color: rgb(233, 191, 6);
}

