.contNota {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:2px solid rgb(255, 208, 0);
    color: grey;
    border-radius: 10px;
    padding: 1rem;
    min-height: 150px;
    white-space: pre-wrap;
}

.footerNota {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}


textarea {
    resize: none;
    background-color: transparent;
    color: white;
    border: none;
    width: 40%;
}

textarea:focus {
    outline: none;
}


.btnNote{
    border: none;
    padding: 5px 10px;
    background-color: rgb(255, 208, 0);
    color: black;
    border-radius: 10px;
}
.btnNote:hover{
    cursor: pointer;
    color:black
}







